body {
  font-family: "Poppins", sans-serif !important;
}
.custom-nav-1 {
  text-align: center;
}
nav {
  background: none !important;
  border: none !important;
  display: inline-block !important;
  text-align: center !important;
}
.navbar {
  display: inline-block !important;
  text-align: right !important;
}
.nav-link {
  border-right: 1px solid rgb(119, 118, 118) !important;
  margin-bottom: 8px !important;
  background: none !important;
  color: #00995d !important;
  font-size: smaller !important;
  font-weight: 550 !important;
  padding: 20px !important;
  display: inline-block !important;
  text-align: center !important;
}

.nav-link:hover {
  background-color: #00995d !important;
  color: white !important;
  padding-bottom: 28px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  text-decoration: none !important;
  margin-bottom: 0px !important;
}
.scanner-guard hr {
  border-top: 1.4px solid #00995d;
  margin-top: -33px;
}
.scanner-guard1 hr {
  border-top: 1.4px solid #00995d;
  margin-top: -29px;
}
.header-2 {
  text-align-last: center;
}
.header-2-paragraph1 {
  float: left;
  margin-top: 3%;
}
.header-2 img {
  padding: 10px;
}
.right-img {
  float: right;
}
.banner-left {
  background: #333;
  text-align-last: center;
  padding: 15px;
}

.left-paragraph1 {
  padding-top: 10px;
  color: white;
  margin-top: 5%;
  font-size: 2.2rem;
}
.left-paragraph2 {
  color: white;
  font-size: 1.2rem;
}
.banner-left-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  text-align-last: left;
}
.banner-right {
  text-align-last: left;
  padding: 15px;
}
hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin-top: -15px;
  margin-left: -15px;
}
.paragraph1 {
  font-weight: bolder;
  font-size: medium;
  padding: 5px;
  margin-left: 5%;
}
.paragraph2 {
  font-weight: bolder;
  font-size: 2rem;
  color: #fa0000;
  letter-spacing: 0.2px;
  padding: 5px;
  margin-left: 5%;
}
.span1 {
  font-size: 2.8rem;
}
.paragraph3 {
  font-size: 3.5rem;
  font-weight: bolder;
  color: rgba(128, 128, 128, 0.432);
  padding: 5px;
  margin-left: 5%;
}
.paragraph4 {
  float: left;
  color: #00995d;
  margin-top: -4%;
  margin-left: 8%;
  font-size: 4rem;
  font-weight: bolder;
}
.paragraph4 sub {
  font-size: 2rem;
}
.paragraph4 sup {
  margin-left: -1%;
}
.order-now {
  float: left;
  padding: 5px;
  padding-left: 28px;
  background: radial-gradient(#a30202, #fa0000);
  color: white;
  border-radius: 35px;
  border: #fa0000;
  width: 150px;
  font-size: large;
  margin-top: -2%;
  margin-left: 5%;
}
.section2 {
  background: rgba(0, 0, 0, 0.986);
  position: relative;
}
.section-2-lock {
  visibility: visible;
  position: absolute;
  top: 22%;
  right: 15%;
}

.section-2-paragraph1 {
  visibility: visible;
  position: absolute;
  color: rgb(255, 254, 251);
  font-size: 2.5rem;
  bottom: 30%;
  left: 15%;
}
.section-2-paragraph2 {
  visibility: visible;
  position: absolute;
  color: rgb(255, 254, 251);
  font-size: 3.8rem;
  bottom: 18%;
  left: 15%;
}
.section-2-paragraph3 {
  visibility: visible;
  position: absolute;
  color: rgb(255, 254, 251);
  font-size: 1.7rem;
  top: 20%;
  right: 27%;
  left: 55%;
  text-align: justify;
}
.get-more-info {
  visibility: visible;
  background: #00995d;
  border: #00995d;
  color: white;
  font-size: medium;
  font-weight: 500;
  border-radius: 30px;
  width: 260px;
  position: absolute;
  bottom: 30%;
  right: 27%;
  padding: 10px;
  text-align: center;
}
.banner2-left {
  background: #00995d;
  color: white;
}
.banner2-left-container {
  padding: 10%;
  padding-left: 25%;
}
.section-3-paragraph1 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.section-3-paragraph2 {
  color: rgb(39, 39, 39);
  font-size: 1.7rem;
  font-weight: 550;
  text-align: justify;
}
.section-3-paragraph3 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
}
.read-more1 {
  margin-top: 7%;
  background: #00995d;
  border: 1px solid white;
  color: white;
  width: 160px;
  border-radius: 30px;
  padding: 12px;
  text-align: center;
  font-size: large;
}

.banner2-right-container {
  padding: 10%;
  padding-right: 30%;
}
.section-3-paragraph4 {
  color: #00995d;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.span2 {
  font-size: 4rem;
  font-weight: 600;
}
.section-3-paragraph5 {
  color: #00995d;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
}
.section-3-paragraph6 {
  padding-top: 7%;
  color: rgb(15, 15, 15);
  font-size: 3rem;
  font-weight: 500;
}
.span3 {
  color: #00995d;
}
.read-more2 {
  margin-top: 7%;
  background: white;
  border: 1px solid #00995d;
  color: #00995d;
  width: 160px;
  border-radius: 30px;
  padding: 12px;
  text-align: center;
  font-size: large;
}
.section-4 {
  padding: 4%;
  background: #333;
}
.section-4-paragraph1 {
  color: #00995d;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.section-4-paragraph2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: -2%;
}
.sec-4-accordion ul {
  list-style-type: none;
}
.accordion {
  width: 70%;
  margin: 30px auto 20px;
  background: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #00995d;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #00995d;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.accordion li.open .link {
  color: #00995d;
  font-size: 25px;
  border-bottom: 0;
  padding: 5px;
  margin-top: 2%;
}

.accordion li.open i {
  color: #00995d;
  font-size: 30px;
  margin-left: -6%;
  margin-top: -1%;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
   * Submenu
   -----------------------------*/

.submenu {
  display: none;
  background: #333;
  font-size: 14px;
  color: #fff;
}

.submenu p {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.section-5-paragraph1 {
  padding: 10px;
  margin-top: 15%;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left;
}
.section-5 img {
  padding-bottom: 20px;
}
.section-5-paragraph2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
}
.sec-5-left-1 {
  background-color: white;
}
.sec-5-left-2 {
  background: #00995d;
  text-align: center;
  padding: 6%;
}
.read-more3 {
  margin-top: 7%;
  background: #00995d;
  border: 1px solid white;
  color: white;
  width: 150px;
  border-radius: 30px;
  padding: 6px;
  text-align: center;
  font-size: medium;
}
.section-5-paragraph3 {
  margin: 10%;
  text-align: center;
  font-size: 4rem;
  color: black;
}
.span4 {
  color: red;
}
.sec-5-right1 {
  visibility: visible;
  background: #333333;
  max-height: 230px;
}
.sec-5-right2 {
  visibility: visible;
  background: #666666;
  text-align: center;
  max-height: 230px;
}
.sec-5-right3 {
  visibility: visible;
  background: #cccccc;
  padding-top: 230px;
}
.fa-chevron-left {
  visibility: visible;
  padding: 60%;
  padding-left: 30%;
  color: red;
}
.fa-chevron-right {
  visibility: visible;
  padding: 60%;
  padding-left: 30%;
  color: red;
}
.sec-5-right-bottom {
  margin-top: 5%;
  margin-left: 5%;
}
.sec-5-video {
  font-size: 2rem;
  margin-bottom: 7%;
}

.sec-6-paragraph1 {
  font-size: 3rem;
  color: white;
  margin-top: 10%;
  margin-bottom: 4%;
}
.card1-text {
  color: #00995d;
  font-size: 1.5rem;
  text-align: left;
}
.card {
  padding: 7%;
  margin: 6%;
  background: #cccccc;
  height: 130px;
}
.fa-arrow-right {
  color: white;
  background: #00995d;
  padding: 2%;
  padding-left: 4%;
  float: right;
}
.sec-7-paragraph1 {
  font-size: 4.5rem;
  font-weight: bolder;
  color: #00995d;
  margin: 8%;
  margin-bottom: 0%;
}
.sec-7-paragraph2 {
  font-size: 3.2rem;
  font-weight: bolder;
  color: #00995d;
  margin-left: 10%;
  margin-bottom: 0%;
}
.sec-7-paragraph3 {
  margin-left: 10%;
}
.sec-7-paragraph4 {
  color: #00995d;
  font-size: 4rem;
  font-weight: bolder;
  margin-top: 4%;
}
.section-7 {
  padding: 5%;
}
.order-now-2 {
  background: #00995d;
  border: #00995d;
  color: white;
  font-size: larger;
  font-weight: 500;
  border-radius: 30px;
  width: 180px;
  padding: 4%;
}
.footer-1 {
  color: white !important;
  background: #00995d;
  padding: 6%;
  padding-bottom: 3%;
}
.footer-1-left .footer-1-right .footer-1-center {
  padding: 8%;
}
.footer-1-paragraph {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  margin: 5%;
}
.footer-1-paragraph span {
  font-weight: bolder;
}
.footer-1 ul {
  list-style: none;
  margin-top: 2%;
}
.footer-1-list {
  color: white !important;
  font-size: 1.6rem;
  margin-left: 8%;
}
.footer-1 li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-2 {
  background: #333;
  padding-top: 10px;
  padding-bottom: 5px;
}
.footer-2-paragraph {
  font-size: 1.6rem;
  color: #666666;
  text-align: center;
}

/* Breadcrumbs section */
.breadcrumb-paragraph-1 {
  margin-top: 24%;
  color: white;
  font-size: 1.6em;
  font-weight: 400;
}
.breadcrumb-paragraph-2 {
  color: white;
  font-size: 1.8em;
  font-weight: 500;
}
.breadcrumb-paragraph-3 {
  margin-bottom: 24%;
  color: white;
  font-size: 1.4em;
  font-weight: 400;
}
.breadcrumb-paragraph-3 span {
  color: white;
  font-size: 2em;
  font-weight: 600;
}
ul.breadcrumb {
  text-align: right !important;
  margin-top: 30%;
  font-size: 2em;
  outline-style: none;
  display: block;
  padding: 0.75rem;
  background: none;
}
ul.breadcrumb li {
  display: inline-block;
}
ul.breadcrumb li.is-active {
  color: #fffefe;
}
ul.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #848484;
  content: "/\00a0";
}
ul.breadcrumb a {
  color: #00995d !important;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/* Call Section */
.call-section {
  text-align: center;
}
.call-section-paragraph1 {
  margin-top: 7%;
  margin-bottom: 2%;
  font-size: 1.6em;
  color: #00995d;
}
.call-section-paragraph2 {
  margin-bottom: 2%;
  font-size: 1.6em;
  color: white;
}
.call-section-button {
  background: #535353b0;
  border: 1px solid #505050c0;
  color: white;
  width: 220px;
  border-radius: 30px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 7%;
}

/* Contact Us */
.contact-header {
  padding-left: 40px;
  padding-right: 15px;
}
.contact_box {
  position: relative;
  padding-left: 80px;
  min-height: 90px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
}
.contact_box .contact_icon {
  position: absolute;
  left: 0;
  top: 15%;
}
.sg-contact-us-p1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 5%;
}

.sg-contact-us-p2 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 7%;
  text-align: justify;
}
.sg-contact-section {
  margin-bottom: 5%;
  padding-left: 40px;
}
.sg-contact-form input {
  width: 45%;
  padding: 10px;
  font-size: large;
  margin: 1%;
}
.sg-contact-form textarea {
  width: 93%;
  height: 40%;
  padding: 10px;
  font-size: large;
}
.sg-contact-form input::placeholder {
  color: #00995d;
}
.sg-contact-form textarea::placeholder {
  color: #00995d;
}
.sg-contact-form {
  text-align: center;
}
.sg-contact-form-button {
  background: #3f3f3fe0;
  border: 1px solid #3f3f3fe0;
  color: white;
  width: 180px;
  border-radius: 30px;
  padding: 8px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 7%;
  margin-top: 3%;
  margin-right: 4%;
  margin-bottom: 5%;
}
.sg-contact-formsec {
  text-align: right;
}
.contact-section-form-policies a {
  color: #00995d;
  text-decoration: none;
  font-size: 1.4em;
  padding: 7%;
}
.contact-section-form-policies {
  margin-bottom: 8%;
}

/* FAQ Section */
.faq-paragraph1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 5%;
}
.faq-accordion {
  list-style-type: none;
}
.faq-accordion {
  padding: 20px;
  width: 100%;
  margin: 30px auto 20px;
  background: #333;
  margin-bottom: 7%;
}
.sg-faq p {
  text-align: justify;
}
.faq-accordion .link {
  cursor: pointer;
  display: block;
  padding: 25px 25px 50px 30px;
  color: #fcfdfd;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: 30px;
}

/* How It Works */
.sg-howitworks {
  margin-top: 3%;
  margin-bottom: 3%;
}
.hiw-left {
  padding: 5%;
}
.hiw-right {
  padding: 5%;
}
.howitworks-p1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.howitworks-p2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.howitworks-p3 {
  font-size: 1.5rem;
  text-align: justify;
}
.howitworks-p3 span {
  font-size: 4.8rem;
}
.howitworks-p4 {
  font-size: 3.5rem;
  font-weight: 600;
}
.howitworks-p5 {
  font-size: 2rem;
}
.howitworks-p6 {
  font-size: 2.5rem;
  margin-bottom: 3%;
  margin-left: 3%;
}

/* In The News */
.sg-inthenews {
  padding: 7%;
}
.inthenews-container {
  margin-left: 10%;
  margin-right: 10%;
}
.inthenews-cards-1 {
  border: 1px #00995d solid;
  width: 50%;
  padding: 3%;
  float: right;
}
.inthenews-cards {
  border: 1px #00995d solid;
  width: 50%;
  padding: 3%;
  float: left;
}
.inthenews-p1 {
  font-size: 1.8rem;
  color: #00995d;
  margin-bottom: 10px;
}
.inthenews-p2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.button-inthenews {
  text-align: right;
}
.button-inthenews a {
  color: white;
}
.button-inthenews a:hover {
  color: white;
}
.inthenews-readmore {
  background: #00995d;
  border: #00995d;
  color: white;
  font-size: medium;
  font-weight: 400;
  border-radius: 30px;
  width: 40%;
  padding: 2%;
}

/* Proven To Work */
.proventowork-p1 {
  font-size: 4em;
  font-weight: bold;
  margin-left: 10px;
}
.proventowork-p2 {
  font-size: 1.4em;
  text-align: justify;
}
.proventowork-p3 {
  color: #00995d;
  font-size: 1.2em;
}
.proventowork-p4 {
  font-size: 2.5em;
}

/* Order Now */
.ordernow-p1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #00995d;
  margin-top: -2%;
  margin-bottom: 3%;
}
.ordernow-p2 {
  font-size: 1.1em;
}
.ordernow-p3 {
  font-size: 6em;
  color: #00995d;
  padding: 15%;
}
.ordernow-p4 {
  font-size: 1.8em;
  font-weight: bold;
}
.order-now-quantity label {
  color: #00995d;
  font-size: large;
  padding: 7px;
}
.order-now-quantity input {
  width: 30;
  color: #666666;
  border: none;
  background: rgb(192, 191, 191);
  padding: 3px;
  padding-left: 10px;
}
.order-now-quantity i {
  color: #333;
  background: #d8d6d6;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 20px;
}
.order-now-quantity span {
  padding-left: 10px;
}
.ordernow-p6 {
  font-size: 1.8em;
  margin-top: 30px;
}
/* Testimonials */
.sg-testimonials {
  padding: 5%;
}
.testi-container {
  margin-top: 5%;
}
.testi-header {
  margin-bottom: 20%;
}
.testi-p1 {
  font-size: 2.8rem;
  font-weight: 700;
}
.testi-p2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: justify;
}
.testi-p3 {
  font-size: 4rem;
  color: white;
}
.testi-p4 {
  font-size: 3rem;
  color: black;
}
.testi-p5 {
  font-size: 1.6rem;
  color: black;
}
.testi-cards {
  background: rgba(221, 219, 219, 0.836);
  padding: 5%;
  padding-bottom: 80px;
  border-radius: 20px;
  margin-bottom: 7%;
}
.testi-container .checked {
  color: rgb(255, 204, 36);
}
.testi-p2 {
  font-size: 1.4rem;
  text-align: justify;
}
.testi-p2 span {
  color: #00995d;
}

/* Single News Page */
.sg-single-news-page {
  padding: 5%;
}
.related-article {
  padding: 3%;
  margin-bottom: 10%;
}
.single-news-p1 {
  font-size: 3rem;
}
.single-news-p2 {
  font-size: 1.4rem;
  text-align: justify;
}
.single-news-p3 {
  padding: 5px;
  padding-left: 20px;
  border-left: 4px #00995d solid;
  margin-left: 120px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.single-news-p3 span {
  padding: 5px;
  padding-left: 20px;
  border-left: 4px #0d0e0d solid;
  color: #00995d;
  margin-left: 10px;
}
.single-news-p4 {
  font-size: 3rem;
  color: #00995d;
  padding: 3%;
}
.single-news-p5 {
  font-size: 2.2rem;
}
.single-news-p6 {
  font-size: 1.2rem;
  margin: 2%;
}
.single-news-p7 {
  color: #00995d;
}
.single-news-p8 {
  font-size: 1.6rem;
}
.newsletter-sec {
  padding: 5%;
}
.subscribe_form {
  position: relative;
  max-width: 900px;
  width: 100%;
  margin-top: 3%;
}
.newsletter-input {
  width: 100%;
  height: 50px;
  padding-left: 7%;
  border-radius: 50px 50px 50px 50px;
  border: 2px solid #333;
}
.newsletter-input ::placeholder {
  color: #666666;
  font-size: 1.6rem;
}
.newsletter-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid #333;
  border-radius: 0px 50px 50px 0px;
  background: #333;
  color: #00995d;
  height: 50px;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.recent_news_sec {
  padding: 50px 0;
}
.footer-img-logo {
  margin-bottom: 12%;
  border-radius: 20px;
  margin-top: 10%;
  padding: 6%;
  padding-top: 5%;
  background-color: white;
}
